<h1>Welcome to Our Cruddy Menu!</h1>

<table id="menu">
	<thead>
		<td>Meal Selection</td>
		<td>Price</td>
	</thead>
	<tbody>
		<% @meals.each do |meal| %>
		<tr>
			<td><%= link_to meal.name, meal_path(meal) %></td>
			<td><%= meal.price %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= link_to "Add Menu Item", new_meal_path %>