body {
	background-color: skyblue;
	margin: 20px;
	width: 100%;
}

h1 {
	text-align: center;
}

table {
	background-color: white;
}

table, td, tr {
	border: 1px solid black;
	margin: 0 auto;
	padding: 3px;
	text-align: center;
}

td, tr {
	background-color: skyblue;
}

thead {
	font-weight: bold;
}

form {
	border: 1px solid white;
	margin: auto;
	width: 220px;
}

.form-div label {
	margin: 10px 0;
}